
.banner {
    width: 100%;
    /* justify-content: stretch; */
    display: block;
    position:absolute;
    /* top:10dvh; */
    height: 10dvh;
    /* margin-top: 5%; */
    /* border:1px solid red; */
}



.chart { 
    /* background-color: aqua; 
     */
     margin-top: 3%;
     font-family: inherit;
}