

.directs {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns of equal width for Employee Id, Name, Level, and Start Date */
    gap: 5px; /* Spacing between the rows and columns */
    width: 60%; /* Full width of its container */
    border-collapse: collapse; /* Remove spaces between borders*/
}

/* Styling for the table headers */
.field-name {
    font-weight: bold; 
    background-color: #f2f2f2; 
    padding: 8px; 
    text-align: center; 
    border: 1px solid #e0e0e0; 
}

/* Styling for each row in the table */
.employee-row {
    display: contents; /* Makes the div act as if it's not there, but its children will inherit its styles */
}

/* Styling for each input field inside the rows */
.employee-row input {
    width: 100%; 
    padding: 8px; 
    border: 1px solid #e0e0e0; 
    text-align: center; 
    box-sizing: border-box; 
    outline: none; 
    transition: background-color 0.3s; 
}

/* Hover effect for each input field */
.employee-row input:hover {
    background-color: #f5f5f5; 
}

.directs-img{
    margin-top: 5%;
    height: 50%;
}