.login-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #0b6efd; */
    background-color: #2c69b6;
    color: white;
    height: 15dvh;
    font-size: 20px;
    width: 100%;
}

.login-header h1 {
    background-color:  inherit;
    font-weight: 400;
    font-size: 25px;
}

p {
    background-color: inherit;
}

strong {
    background-color: inherit;
    color: #f4990b;
    font-family: Linear Bold;
    font-weight: 400;
}
.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    /* background-color: orangered; */
    /* width: 15%; */
}

.login-container form {
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 80%; */
    /* flex-direction: column; */
}


.login-container input {
    /* background-color: aquamarine; */
    height: 30px;
    /* display: inline-flex; */
    /* align-items: center; */
    /* justify-content: space-evenly; */ 
}


.login-button {
    background-color: #f4990b;
    color: white;
    /* margin-top: 2%; */
    appearance: none;
    box-sizing: border-box;
    font-size: 100%;
    /* display: inline-block; */
    box-shadow: none;
    position: relative;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 40px;
    min-width: 12%;
    /* max-width: 60%; */
    border-radius: 100px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(241,241,241);
    outline: none;
    /* transition: all 120ms ease-in 0s; */
    overflow: hidden;
}

.login-button:hover {
    background-color: #df9011;
}



div.auth-links {
    text-decoration: none;
    /* color:black; */
    cursor: pointer;
    font-family: inherit;
    padding: 2px;
    margin-right: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    /* background-color: #f4990b; */
    /* width: 20%; */
}

div.auth-links a {
    /* background-color: #f4990b; */
    /* display: flex; */
    /* justify-content: space-between; */
    width: 100%;
    text-decoration: none;
    margin-top: 20px;
    color: white;
    position: relative;
    /* border-radius: 10px; */
}

div.auth-links .signup {
    /* background-color: #f49b0b67; */
    border-bottom: rgb(0,0,128) solid 2px;
    color: rgb(0,0,128);
    line-height: 20px; 
    text-align: center;
}

div.auth-links .demo {
    background-color: #f4990b;
    color: white;
    appearance: none;
    box-sizing: border-box;
    font-size: 100%;
    box-shadow: none;
    position: relative;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 30px;
    min-width: 12%;
    border-radius: 50px;
    border: 1px solid rgb(241,241,241);
    outline: none;
    overflow: hidden;
    text-decoration: none;  
    display: inline-block;  
    padding: 0 15px;  
    line-height: 30px; 
}

div.auth-links .demo:hover {
    background-color: #df9011;
}

.error-login{
    width: 60%;
    color:red;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    /* background-color: #f4990b; */
    margin-left: 40%;
    margin-top: 2%;
}

ul{
    width: 100%;
    /* border: #2c69b6; */
}

li {
    width: 100%;
    /* background-color: #2c69b6; */
}

.log-img{
    height: 45%;
}

.logo-login{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;

    /* margin-top: 1%; */
}

.logo-login #logo{
    color:white;
    font-size: 24px;
    /* padding: 1px; */
    /* background-color: #df9011; */
}

.logo-login h1 {
    margin-left: 4px;
    font-size: 24px;
}

