

.not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
    margin-top: 2%;
    /* font-size: 20px; */
}

.not-found h1 {
    color: red;

}

.not-found a {
    margin-top: 2%;
}