
/* .header-welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0b6efd;
    color: white;
    /* font-weight: 300; */
/* } */ 

.home{
    margin-left: 1.2%;
}



button {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

h1{
    display: flex;
    font-size: 18px;
    font-weight: 200;
}


.waiting {
    background-color: white;
    width: 60%;
    height: 100px;
    border-radius: 16px;
    display: block;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: */
}

.docs {
    background-color: white;
    width: 60%;
    height: 300px;
    border-radius: 16px;
    display: flex;
    /* flex-direction: row; */
    align-items: flex-start;
    justify-content:space-evenly;
}

.docs h2{
    background-color: aqua;
    width: 100%;
}

.sub-docs{
    background-color: pink;
    width: 80%;
    height: 150px;
    border-radius: 16px;
    display: fle;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

}

