
.header-welcome {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #626971;
    height: 10dvh;
    min-height: 10dvh;
    width: 100%;
    position: fixed;
    z-index: 2000;
    top: 0;  
    margin-top: 0;
    border-bottom: 1px solid #ddd;
    /* margin-left: 10%; */
    /* font-weight: 300; */
}


a.button-logo {
    /* border: 2px solid red; */
    /* background-color: #f4990b; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-top: 15px; */
    text-decoration: none;
    /* border: 1px solid ; */
}

#logo{
    text-decoration: none;
    color: #1372ec;
    height: 100%;
    font-weight: 900;
    font-size: 2.5dvh;
}

div .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: aqua; */
    width: 15%;
    font-size: 25px;
    position: relative;
    border: none;
    
}

/* .icons button:hover { */
    /* background-color: #f4990b; */
 
/* } */

.icons button span::after {
    content: attr(value);
    display: none;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

}

.icons button:hover span::after {
    display: block;
}


button {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

h1{
    display: flex;
    font-size: 18px;
    font-weight: 200;
}

.icons a {
    text-decoration: none;
    color: #626971;
}

.icons a:hover {
    background-color: #f4990b;
    font-size: 25px;
}


.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: white;
    color: inherit;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 10px;
    
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(10%);
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 5%;
    /* background-color: #1372ec; */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 9.8%;   /* adjust width as needed */
    height: 20%;
    background-color: inherit;  
    overflow-x: hidden;
    transition: 0.5s;  /* smooth transition effect */
    padding-top: 60px; /* adjust padding as needed */
    z-index: 1000; /* keep the sidebar above other content */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* gap: 5%; */
}

.menu-items{
    text-decoration: none;
    margin-top: 10px;
    font-size: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    /* background-color: #1372ec; */
    height: 60%;
}

.exit{
    position: fixed;
    top:10px;
    left: 8%;

}

.button{
    text-decoration: none;
    color: #626971;
}


span#symbol-text  {
    text-decoration: none;
    width: 100%;
    /* background-color: #1372ec; */
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    color: #626971;

}

.side-icons:hover {
    background-color: lightgray;
    /* width: 100%; */
}


