
.header-welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0b6efd;
    color: white;
    height: 8dvh;
    /* margin-left: 0%; */
    /* font-weight: 300; */
}

div .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: aqua; */
    width: 15%;
    font-size: 25px;
    position: relative;
    border: none;
    
}

.icons button:hover {
    background-color: #f4990b;
 
}

.icons button span::after {
    content: attr(value);
    display: none;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

}

.icons button:hover span::after {
    display: block;
}


button {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

h1{
    display: flex;
    font-size: 18px;
    font-weight: 200;
}

