
* {
    /* width: 90%; */
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(171, 171, 248, 0.85);
    /* width: 80%; */
}

h1 {
    background-color:  inherit;
}

p {
    background-color: inherit;
}

strong {
    background-color: inherit;
}