

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #0b6efd; */
    background-color: #2c69b6;
    color: white;
    /* width: 80%; */
}

h1 {
    background-color:  inherit;
}

p {
    background-color: inherit;
}

strong {
    background-color: inherit;
    color: #f4990b;
    font-family: Linear Bold;
}